@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #393E46;
    font-family: Roboto, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #EDEDED;
    background-color: #171717;
    margin-bottom: 10px;
}
.header_logo{
    color: #DA0037;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.2rem;
}
.wrapper{
    width: 90vw;
    max-width: 70rem;
    margin: 0 auto;
}

.news{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1.5rem;
}

.news_card{
    background-color: #434952;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #EDEDED;
}
.news_card p{
    color: #d4d3d3;
}
.news_card:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.16), 3px 3px 5px rgba(0,0,0,0.23);
}
input[type=text] {
    padding: 0.4rem .8rem;
    border: none;
    border-radius: 5px;
}
input[type=text]:focus {
    border: none;
}
input[type=submit]{
    background-color: #DA0037;
    border: none;
    border-radius: 5px;
    color: #EDEDED;
    padding: 0.4rem .8rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }